.App {
  display: flex;
  flex-flow: row;
  margin: 20px auto;
  border: 1px solid black;
  border-radius: 5px;
  max-height: 400px;
  min-height: 400px;
  max-width: 1000px;
  min-width: 802px;
  background: #f1f1f1;
}

/* .App > * {
  flex: 1 100%;
} */

ul {
  list-style: none;
  text-align:left;
}

.room-list {
  flex: 1;
  order: 1;
  border-right: 1px solid lightgray;
  max-width: 200px;
  min-width: 200px;
}
.room-header {
   text-align: center;
   color: white;
   height: 100px;
   background: blue;
 }
.room-header h1 {
  margin: auto;
}

#messages {
  flex: 2 auto;
  order: 2;
  min-width: 400px;
  padding: 5px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}
.message-list {
  flex: 0 auto;
  order: 1;
  overflow-y: auto;
}
.message-item {
  padding: 5px;
}
.message-content {
  display: inline;
  padding: 2px;
  white-space: pre-line;
}
.message-username {
  padding: 2px;
  border-radius: 5px;
  background: #18a9d5;
}
.message-sentAt {
  display: block;
  margin-top: 2px;
  color: teal;
  font-size: 10px;
}

.send-message {
  flex: 1 auto;
  order: 2;
  min-width: 400px;
  max-height: 35px;
}
#send-form {
  display: flex;
  flex-flow: row;
}
#send-content {
  resize: none;
  border: none;
  margin: 0;
  padding: 1;
  outline: none;
  order: 1;
  flex: 5 auto;
}
#send-submit {
  color: white;
  background: blue;
  border: none;
  order: 2;
  flex: 1 auto;
}

.create-room-button {
  width: 100px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background: #ef9d01;
  text-shadow: 1px 1px 4px blue;
}

.do-display {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.do-not-display {
  display: none;
}

.create-room-modal {
  position: fixed;
  color: white;
  background: transparent;
  width: 250px;
  height: 75px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.cancel-room-button {
  position: fixed;
  top: 135%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ef9d01;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 14px;
}

.create-room-form {
  display: contents;
}
.create-room-form input[type="text"] {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 5px;
  background-image: linear-gradient(to top, white 1%, rgba(0, 0, 0, 0.5));
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.create-room-form input[type="submit"] {
  color: #ef9d01;
  background: transparent;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 14px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.active-room {
  color: white;
  background: #ef9d01;
}
.active-room::after {
  content: ' >';
}
.delete-room {
  text-align: center;
  width: .6em;
  height: 1em;
  border: 1px solid darkorange;
  font-family: monospace, sans-serif;
  font-weight: bold;
  background: transparent;
  display: inline-block;
  position: absolute;
  right: 1px;
  transition: all 0.25s ease-out 0.2s;
}
.delete-room:hover {
  transform: scale(1.5);
  width: 75px;
  border: 2px solid blue;
  border-radius: 5px;
  background: orange;
}
.delete-room::after {
  content: 'elete';

  transition: all 0.1s linear 0.1s;
  opacity: 0;
}
.delete-room:hover::after {
  transition: all 0.3s ease-out 0.3s;
  opacity: 1;
}

.room-row {
  padding: 5px;
  position: relative;
}

.user-list {
  flex: 1;
  order: 3;
  border-left: 1px solid lightgray;
  max-width: 200px;
  min-width: 200px;
  overflow: hidden;
}

.user-header {
  max-width: inherit;
  min-width: inherit;
  height: 100px;
  background: #ef9d01;
}

.user {
  padding: 5px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}

.user > * {
  flex: 1 0 auto;
}

.user-name {
  order: 2;
}

.user-pic {
  order: 1;
  height: 40px;
}

.user img {
  width: 40px;
  height: 40px;
}

.user-button {
  order: 3;
  flex: 0 auto;
  width: 75px;
  height: 25px;
  align-self: flex-end;
}
